name: golangci_lint
on:
  workflow_dispatch:
    inputs:
      name:
        description: "Who to greet"
        default: "World"

  push:
    paths-ignore:
      - '.github/**'
      - '**.md'
      - '.gitignore'
    tags:
      - v*
    branches:
      - master
      - main
      - feature/**
      - bugfix/**
  pull_request:
    types:
      - opened
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1